.transactions-history {
  padding-top: 15px;
}

.transactions-history-title {
  cursor: pointer;
  font-weight: 300;
}

.history-icon {
  vertical-align: bottom;
}

.transaction {
  align-items: center;
  border-top: 1px solid #eee;
  padding: 10px 0px;
}

.monthly-resume {
  padding-bottom: 30px;
}

.income {
  color: green;
}

.outcome {
  color: red;
}