<div class="app-container">
  <div class="dashboard application-container">
    
    <div class="row dashboard-card">
      <div class="col-12">
        <mat-card>
          <h5>Entradas</h5>
          <p>R$0 de R$5000 planejados</p>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card>
      </div>
    </div>

    <div class="row dashboard-card">
      <div class="col-12">
        <mat-card>
          <h5>Saída</h5>
          <p>R$0 de R$5000 planejados</p>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card>
      </div>
    </div>

    <mat-card>
      <div class="row">
        <div class="col-6 align-center">
          <h6>Dias restantes</h6>
          <div class="circle">
            <span>
              20
            </span>
          </div>
        </div>
        <div class="col-6 align-center">
          <h6>Gasto diário</h6>
          <div class="circle">
            <span>
              R$30,00
            </span>
          </div>
        </div>
      </div>
    </mat-card>

    <div class="dashboard-card"></div>

    <div class="row dashboard-card">
      <div class="col-12">
        <mat-card>
          <h5>Últimas transações</h5>
          <div class="row">
            <div class="col-2">
              <span>
                <i class="material-icons">
                    fitness_center
                  </i>
              </span>
            </div>
            <div class="col-7">
              Pão de açúcar
            </div>
            <div class="col-3">
              R$7500
            </div>
          </div>
        </mat-card>
      </div>
    </div>

  </div>
</div>