<div class="app-container">
  <div class="dashboard application-container" *ngIf="actualMonthlyPlanning">
    
    <div class="row dashboard-card">
      <div class="col-12">
        <mat-card>
          <h5>Entradas</h5>
          <p>R${{ totalIncomes }} de R${{ actualMonthlyPlanning.plannedIncome }} planejados</p>
          <mat-progress-bar mode="determinate" [value]="percentageIncomes"></mat-progress-bar>
        </mat-card>
      </div>
    </div>

    <div class="row dashboard-card">
      <div class="col-12">
        <mat-card>
          <h5>Saída</h5>
          <p>R${{ totalOutcomes }} de R${{ actualMonthlyPlanning.plannedOutcome }} planejados</p>
          <mat-progress-bar mode="determinate" [value]="percentageOutcomes"></mat-progress-bar>
        </mat-card>
      </div>
    </div>

    <mat-card>
      <div class="row">
        <div class="col-6 align-center">
          <h6>Dias restantes</h6>
          <div class="circle">
            <span>
              {{ this.pendingDays }}
            </span>
          </div>
        </div>
        <div class="col-6 align-center">
          <h6>Gasto diário</h6>
          <div class="circle">
            <span>
              R$30,00
            </span>
          </div>
        </div>
      </div>
    </mat-card>

    <div class="dashboard-card"></div>

    <div class="row dashboard-card">
      <div class="col-12">
        <mat-card>
          <h5>Últimas transações</h5>
          <div class="row" *ngFor="let transaction of transactions">
            <div class="col-2">
              <span [ngClass]="{ 'income': transaction.transactionType === 0, 'outcome': transaction.transactionType === 1  }">
                <i class="material-icons">
                    {{ transaction.icon }}
                  </i>
              </span>
            </div>
            <div class="col-6">
              {{ transaction.establishment }}
            </div>
            <div class="col-4">
              {{ transaction.transactionType == 0 ? '' : '- ' }}R${{ transaction.value }}
            </div>
          </div>
        </mat-card>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="!actualMonthlyPlanning">
    <div class="col-12">
      Nenhum planejamento para o mês atual.
    </div>
  </div>
</div>