<div class="app-container">
  <div class="menu application-container">
    <div class="row">
      <div class="col-4">
        <span>
          <i class="material-icons">
            menu
          </i>
        </span>
      </div>
      <div class="col-4">

      </div>
      <div class="col-4 align-center">
        <span class="btn-icon">
          <i class="material-icons">
            add
          </i>
        </span>
      </div>
    </div>
  </div>

  <div class="dashboard application-container">
    
    <div class="row dashboard-card">
      <div class="col-12">
        <mat-card>
          <h5>Renda</h5>
          <p>R$0 of R$5000 planned</p>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card>
      </div>
    </div>

    <div class="row dashboard-card">
      <div class="col-12">
        <mat-card>
          <h5>Gastos</h5>
          <p>R$0 of R$5000 planned</p>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card>
      </div>
    </div>

    <mat-card>
      <div class="row">
        <div class="col-6 align-center">
          <h6>Dias restantes</h6>
          <div class="circle">
            <span>
              20
            </span>
          </div>
        </div>
        <div class="col-6 align-center">
          <h6>Gasto diário</h6>
          <div class="circle">
            <span>
              R$30,00
            </span>
          </div>
        </div>
      </div>
    </mat-card>

    <div class="dashboard-card"></div>

    <div class="row dashboard-card">
      <div class="col-12">
        <mat-card>
          <h5>Últimas transações</h5>
          <p>R$0 of R$5000 planned</p>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card>
      </div>
    </div>

  </div>
</div>