
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wlck-finance-control-primary: mat-palette($mat-indigo);
$wlck-finance-control-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wlck-finance-control-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wlck-finance-control-theme: mat-light-theme($wlck-finance-control-primary, $wlck-finance-control-accent, $wlck-finance-control-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wlck-finance-control-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.application-container {
  padding: 0% 5%;
}

.app-container {
  min-height: 100vh;
  width: 100%;
  background-color: #eee;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

button:focus {
  outline: 0px !important;
}

.app-notification-error {
  color: #ffffff;
  background-color: #dc3545;
}

.app-notification-success {
  color: #ffffff;
  background-color: #28a745;
}

.app-notification-warning {
  color: #212529;
  background-color: #ffc107;
}