<div class="app-container">
  <div class="forget-password application-container">
    <div class="row align-items-center forget-password-content">
      <div class="col-12">
        <mat-card>
          <div class="col-12">
            <h6 class="align-center forget-password-title">Esqueci a senha</h6>
            <mat-form-field style="width: 100%">
              <input matInput placeholder="E-mail" [(ngModel)]="email" type="email">
            </mat-form-field>
          </div>
          <div class="col-12 align-center">
            <button class="submit-btn" mat-fab color="primary" (click)="sendPassword()">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>